.menu-list {
  margin: 20px;
  list-style: none;
}

.menu-card {
  background: #fff;
  border: 3px solid #efefef;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
  height: 75px;
}

.menu-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.menu-option {
  width: 25%;
  float: left;
  font-size: 20px;
  line-height: 48px;
}

.meal-name {
  margin-left: 25%;
  font-size: 20px;
  line-height: 48px;
  font-weight: bold;
}

.menu-option-title {
  margin-left: 10px;
  text-transform: capitalize;
}

#menu-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
    
  padding: 5% 0;
}

#menu-canvas.show-nav {
  -webkit-transform: translateX(-420px);
  transform: translateX(-420px);
  
  -webkit-transform: translate3d(-420px, 0, 0);
  transform: translate3d(-420px, 0, 0);
}

#menu-nav {
  width: 400px;
  position: absolute;
  right: -420px;
  background: #428bca;
  padding: 15px;
}

.toggle-menu-nav {
  position: relative;
  z-index: 5;
}

